@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: #ffffff;
    --title-color: #4f4f4f;
    --text-color: #808080;
    --shadow: 0 0 12px 3px #403f3f;
    --genres-color: #808080c2;
    --rating-color: #8080807a;
    --button-color: #e1e0e0;
    --green-color: #29f32e;
    --logo-image: url("./assets/logo.png");
}

[data-theme="dark"] {
    --background-color: #1c1a20;
    --title-color: #d9d9d9;
    --text-color: #a0a0a0;
    --shadow: 0 0 8px 5px #a0a0a0;
    --rating-color: #a0a0a0c2;
    --genres-color: #a0a0a07a;
    --button-color: #2f2f2f;
    --green-color: #29f32e;
    --logo-image: url("./assets/logo-dark.png");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1240px;
    width: 100%;
}

.main-content {
    flex: 1;
}

/* Header */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.header-elements-container {
    display: flex;
    gap: 10px;
}

.logo {
    width: 110px;
    height: 58px;
    background-image: var(--logo-image);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header-links-container {
    display: flex;
    gap: 30px;
}

.header-links {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);
}

.header-links:hover {
    text-decoration: underline;
    cursor: pointer;
}

.header-links.active {
    text-decoration: underline;
}

/* ThemeSwitch */

.container-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2f2f2f;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 20px;
    left: 3px;
    bottom: 4px;
    background-color: var(--green-color);
    transition: .4s;
}

input:checked+.slider {
    background-color: #2f2f2f;
}

input:checked+.slider:before {
    transform: translateX(19px);
}

/* Filters */

.filters-container {
    position: relative;
    display: flex;
    gap: 20px;
    padding: 10px;
}

.sort-filter,
.genres-filter,
.status-filter {
    border-radius: 8px;
    padding: 4px 15px;
    background-color: var(--button-color);
    color: var(--title-color)
}

/* FilterModal */
.filter-modal {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    width: 200px;
    position: absolute;
    background-color: var(--background-color);
    padding: 10px;
}

.genres-style {
    left: 185px;
    top: 40px;
}

.status-style {
    left: 335px;
    top: 40px;
}

.filter-modal input {
    margin-right: 8px;
}

/* Home */

.shows-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}


/* ShowCard */

.show-card {
    width: 49%;
    display: flex;
    gap: 15px;
    padding: 10px;
}

.show-card:hover {
    box-shadow: var(--shadow);
}

.show-card a {
    text-decoration: none;
}

.show-card a img {
    width: 100%;
}

.card-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-header,
.card-footer {
    display: flex;
    justify-content: space-between;
}

.card-header,
.card-header a {
    color: var(--title-color);
    font-size: 20px;
}

.card-header p {
    padding: 10px 0;
    font-weight: bold;
}

.is-favorite {
    color: var(--green-color);
}

.heart-icon {
    font-size: 23px;
    cursor: pointer;
}

.summary {
    width: 95%;
    color: var(--text-color);
}

.card-footer {
    margin-top: auto;
    align-items: flex-end;
}

.rating {
    color: var(--rating-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 13px;
}

.genres {
    color: var(--genres-color);
    font-size: 11px;
}

/* ShowOverview */

.show-container {
    max-width: 1240px;
    display: grid;
    grid-template-areas:
        "image details"
        "image info";
    grid-template-columns: 2fr 3fr;
    gap: 10px;
    padding: 10px;
}

.show-container img {
    grid-area: image;
    width: 100%;
}

.add-favorite {
    margin-bottom: 15px;
    text-decoration: underline;
    cursor: pointer;
}

.show-name {
    color: var(--title-color);
    font-size: 30px;
    font-weight: bold;
}

.link {
    color: var(--green-color);
}

.show-details {
    grid-area: details;
}

.show-info {
    grid-area: info;
    margin-top: auto;
}

/* Pagination */

.pagination-container {
    display: flex;
    justify-content: center;
}

.pagination-button {
    cursor: pointer;
    font-size: 25px;
}

.pagination {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 30px 0;
}

.page-button {
    border: none;
    background: var(--button-color);
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    color: var(--title-color)
}

.page-button.active {
    background: var(--green-color);
    color: #4f4f4f;
    font-weight: bold;
}

.pagination span {
    margin: 0 5px;
    font-weight: bold;
}

/* Footer */

.footer-container {
    text-align: center;
    padding: 20px;
    font-size: 12px;
}

/* Tablets */

@media (max-width: 1024px) {
    .show-container {
        grid-template-areas:
            "image details"
            "image details"
            "info info";
        grid-template-columns: 1fr 1fr;
    }

    .show-info {
        margin-top: 10px;
    }
}

/* Mobile */

@media (max-width: 767px) {
    .show-overview {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .show-container {
        display: flex;
        max-width: 500px;
        flex-direction: column;
        padding: 15px;
    }

    .filters-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .genres-style {
        left: 10px;
        top: 80px;
    }

    .status-style {
        left: 10px;
        top: 115px;
    }

    .shows-container {
        flex-direction: column;
        width: 100%;
    }

    .show-details {
        margin-top: 20px;
    }

    .show-card {
        width: 100%;
    }
}