@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.logo {
    width: 110px;
}

.header-links-container {
    display: flex;
    gap: 30px;
}

.header-links {
    text-transform: uppercase;
    text-decoration: none;
    color: #808080;
}

.header-links:hover {
    text-decoration: underline;
    cursor: pointer;
}

.header-links.active {
    text-decoration: underline;
}

/* Filters */
.filters-container {
    position: relative;
    display: flex;
    gap: 20px;
    padding: 10px;
}

.sort-filter,
.genres-filter,
.status-filter {
    border-radius: 8px;
    padding: 2px 10px;
}

/* FilterModal */
.filter-modal {
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    border-radius: 10px;
    width: 200px;
    position: absolute;
    background-color: #ffffff;
    padding: 10px;
}

.genres-style {
    left: 155px;
    top: 40px;
}

.status-style {
    left: 270px;
    top: 40px;
}

.filter-modal input {
    margin-right: 8px;
}

/* Home */

.shows-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1240px;
    gap: 10px;
    justify-content: center;
    padding-top: 10px;
}


/* ShowCard */

.show-card {
    width: 49%;
}

.show-card:hover {
    box-shadow: 0 0 12px 3px #403f3f;
}

.show-card a {
    display: flex;
    gap: 15px;
    padding: 10px;
    text-decoration: none;
}

.card-details {
    display: flex;
    flex-direction: column;
}

.card-header,
.card-footer {
    display: flex;
    justify-content: space-between;
}

.card-header {
    color: #4f4f4f;
    font-size: 20px;
}

.card-header p {
    padding: 10px 0;
    font-weight: bold;
}

.is-favorite {
    color: green;
}

.summary {
    width: 95%;
    color: #808080;
}

.card-footer {
    margin-top: auto;
    align-items: flex-end;
}

.rating {
    color: #8080807a;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 13px;
}

.genres {
    color: #808080c2;
    font-size: 11px;
}

/* ShowOverview */

.show-container {
    max-width: 1240px;
    display: flex;
    gap: 10px;
}

.show-container img {
    width: 500px;
    height: auto;
}

.show-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-favorite {
    margin-bottom: 15px;
    text-decoration: underline;
    cursor: pointer;
}

.show-name {
    color: #4f4f4f;
    font-size: 20px;
    font-weight: bold;
}

.link {
    color: green;
}

/* Footer */

.footer-container {
    text-align: center;
    padding: 20px;
    font-size: 12px;
}

/* Tablets */
@media (max-width: 1024px) {
    .show-container {
        max-width: 700px;
    }

    .show-container img {
        width: 45%;
    }


}

/* Mobile */
@media (max-width: 767px) {
    .header-links-container {
        font-size: 12px;
    }

    .logo {
        width: 80px;
    }

    .show-container {
        max-width: 350px;
        flex-direction: column;
    }

    .filters-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .genres-style {
        left: 10px;
        top: 70px;
    }

    .status-style {
        left: 10px;
        top: 100px;
    }

    .shows-container {
        justify-content: flex-start;
    }

    .card-details {
        width: 100%;
    }

    .show-card {
        width: 400px;
    }

    .show-container img {
        width: 100%;
    }

    .show-details {
        display: flex;
        gap: 20px;
    }
}